
<div class="row">
  <div class="col text-center">
    <div><img src="assets/img/{{intentos}}.png" class="ahorcado-img"></div>  
    <h3>Intentos <small>{{intentos}} / 9</small></h3>
  </div>
  
</div>


<div class="row">
  <div class="col text-center">
    <h1 class="palabra-oculta">{{palabraOculta}}</h1>
  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
    <h1>¡Felicidades GANASTE!</h1>
    <h4>:D</h4>
    <button (click)="newGame()" class="btn btn-primary">Jugar de nuevo</button>
  </div>
</div>

<div class="row" *ngIf="perdio">
  <div class="col text-center">
    <h1>Perdiste :(</h1>
    <h4>La palabra era {{palabra}}</h4>
    <button (click)="newGame()" class="btn btn-primary">Inténtalo otra vez</button>
  </div>
  
  
  
</div>


<div class="row" *ngIf="!gano && !perdio">
  <div class="col text-center">
    <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary">
      {{ letra }}
    </button>

  </div>
  
</div>
